* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box_search {
    background: #fff;
    border-radius: 0 0 16px 16px;
    padding: 8ppx 16px;
    margin-top: 6px;
    font-size: 14px;
    height: 40px;
    width: 700px;
    margin: 0 auto;
}

.search_form_order {
    display: flex;
    justify-content: space-between;
}

.item_search_form {
    width: calc(100% - 176px);
    margin: 0;
    align-items: center;
    min-height: 40px;
    position: relative;

}

.text_input_search {
    max-width: 100%;
}